<div class="task-list" data-turbo="true">
  <h1>タスク管理</h1>

  <div class="sort-options">
    <%= link_to 'デフォルト', tasks_path, class: "btn btn-secondary #{'active' if !params[:sort]}" %>
    <%= link_to '優先度順', tasks_path(sort: 'priority'), class: "btn btn-secondary #{'active' if params[:sort] == 'priority'}" %>
    <%= link_to '期限順', tasks_path(sort: 'due_date'), class: "btn btn-secondary #{'active' if params[:sort] == 'due_date'}" %>
  </div>

  <div class="task-form">
    <%= render 'form', task: Task.new, form_id: 'new-task-form', submit_text: '新規タスク作成' %>
  </div>

  <div id="tasks" data-turbo-frame="tasks">
    <%= render 'tasks/index', tasks: @tasks %>
  </div>
</div>

<%= turbo_frame_tag "modal" %>
